@tailwind base;
@tailwind components;
@tailwind utilities;

:root{color-scheme:light;}

/* new  */
@keyframes floatHeart {
  0% {
    transform: translateY(0) scale(0.95);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.15);
    opacity: 0;
  }
}

.animate-floatHeart {
  animation-name: floatHeart;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

 @keyframes heartBurst {
  0% { transform: translateY(0) scale(0.7); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateY(-110px) scale(1.15); opacity: 0; }
}

.animate-heartBurst {
  animation-name: heartBurst;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* new here  */
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



